<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5 mb-5">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
        />
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          name="listing[description]"
        >
<%= listing.description %></textarea
        >
      </div>

      <div class="form-group mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          id="image"
          class="form-control"
          name="listing[image]"
          value="<%= listing.image %>"
        />
      </div>
      <div class="row">
        <div class="form-group mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            id="price"
            class="form-control"
            name="listing[price]"
            value="<%= listing.price %>"
          />
        </div>

        <div class="form-group mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            class="form-control"
            name="listing[country]"
            value="<%= listing.country %>"
          />
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="listing[location]"
          value="<%= listing.location %>"
        />
      </div>

      <button type="submit" class="btn btn-dark mt-3">Edit</button>
    </form>
  </div>
</div>
