<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3 class="heading">All Chat! You have <%=len %> chats</h3>
    <form class="newChatForm" action="/chats/new" method="GET">
      <button class="newChatBtn">New Chat</button>
    </form>

    <% for (let chat of chats){ %>
    <div class="chat">
      <p>From : <strong><%= chat.from %></strong></p>
      <div class="msg">
        <p>Message : <%= chat.msg %></p>
        <div class="btns">
          <form action="/chats/<%= chat._id %>/edit" method="GET">
            <button class="editBtn">Edit</button>
          </form>
          <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
            <button class="editBtn">Delete</button>
          </form>
          <form action="/chats/<%= chat._id %>" method="GET">
            <button class="editBtn">Show</button>
          </form>
        </div>
      </div>
      <p>Received by : <strong><%= chat.to %></strong></p>
      <hr />
      <p><%= chat.created_at.toString().split(" ")[4] %></p>
      <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
    </div>

    <% } %>
  </body>
</html>
