<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h2>Users</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let user of users) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <form action="/user/<%=user.id %>/edit" method="GET">
            <td>
              <button type="submit">Edit</button>
            </td>
          </form>
          <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
            <td>
              <button type="submit">Delete</button>
            </td>
          </form>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
